CLICKUP_API_TOKEN=
CLICKUP_API_URL=https://api.clickup.com/api/v2
CLICKUP_WORKSPACE_ID=
CLICKUP_USER_ID=

TODOIST_API_TOKEN=
TODOIST_API_URL=https://api.todoist.com/api/v1
TODOIST_SYNC_PROJECT_ID=
TODOIST_SYNC_PROJECT_NAME=
TODOIST_ERROR_PROJECT_ID=
TODOIST_ERROR_PROJECT_NAME=

DATABASE_URL=
PORT=3100
WEBHOOK_SECRET=
PUBLIC_URL=
